/**
 * @name Arch Translucence
 * @version 1.0.6.3
 * @description A translucent/frosted glass Discord theme
 * @author CapnKitten
 *
 * @website http://github.com/CapnKitten
 * @source https://github.com/CapnKitten/BetterDiscord/blob/master/Themes/Translucence/css/source.css
 * @donate https://paypal.me/capnkitten
 * @invite jzJkA6Z
 */

@import url(https://capnkitten.github.io/BetterDiscord/Themes/Translucence/css/source.css);
:root {
/* Basic app settings */
	/* Background color/opacity (a is opacity) */
	/*--app-bg: rgba(25,0,5,0.25);*/
	--app-bg: rgba(0,0,0,.5)

	/* Not super sure, maybe the blur for the margin?
	   Main background blur comes from MicaForEveryone */
	--app-blur: 6px;

	/* Margin size for sides and bottom */
	--app-margin: 3px;

	/* Radius of curve between the main area and margin */
	--app-radius: 8px;


/* Accent color stuff; a lot is affected by this */
	/* HSL is a common format here, just find a converter */
	--accent-hue: 340;
	--accent-saturation: 100%;
	--accent-lightness: 75%;
	/* Essentially the a value from rgba; opacity of accent color */
	--accent-opacity: 1;

	/* It's, umm...the accent...text...color? */
	--accent-text-color: #000;


/* Sidebar and main content windows */
	/* Sidebars like DM and channel lists use this */
	--sidebar-color: rgba(0,0,0,0.4);

	/* Message window area and server member list use this */
	--main-content-color: rgba(0,0,0,0.2);


/* Message 'bubbles' stuff */
	/* Message bubble color */
	/*--message-color: rgba(43,20,27,0.35);*/
	--message-color: rgba(0,0,0,.75);
	/* Default value I'm saving */
	/*--message-color: rgba(5,0,1,.25)*/ 

	/* Message bubble corner curve radius */
	--message-radius: 10px;

	/* Distance beteween text and top/bottom of bubble */
	--message-padding-top: 5px;

	/* Distance between text and left/right of bubble */
	--message-padding-side: 8px;


/* Mention bubble outline (when you get replied to or pinged) color */
	--mention-hue: 340;
	--mention-saturation: 100%;
	--mention-lightness: 70%;
	--mention-opacity: 1;


/* Reply bubble outline (for the bubble you're replying to while typing) color */
	--reply-hue: 290;
	--reply-saturation: 100%;
	--reply-lightness: 70%;
	--reply-opacity: 1;


/* Text input areas */
	/* Color of the area (such as bottom message input bar)
	--textarea-color: 255,255,255;

	/* Alpha (opacity of the area) */
	--textarea-alpha: 0.1;

	/* No clue what this does */
	--textarea-alpha-focus: 0.15;

	/* Text color (for the text you type) within the text area */
	--textarea-text-color: #fff;

	/* Curve radius for the text area corners */
	--textarea-radius: 25px;


/* Card color settings */
	/* Standard color of a card */
	--card-color: rgba(0,0,0,0.4);

	/* Color of the card when hovered over */
	--card-color-hover: rgba(0,0,0,0.5);

	/* No clue what this does */
	--card-color-select: rgba(0,0,0,0.7);


/* Standard button settings */
	/* Height for buttons */
	--button-height: 32px;

	/* Padding for buttons */
	--button-padding: 0 16px;

	/* Button color for hovering/clinking, lowered opacity */
	--button-action-color: #000;

	/* Button border radius */
	--button-radius: 16px;


/* Popout/modal settings */
	/* Popout background color */
	--popout-color: rgba(0,0,0,0.55);

	/* Blur strength for area around popout element */
	--popout-blur: 5px;

	/* Popout header opacity */
	--popout-header-opacity: 0.3;

	/* Shadow size and color for popout headers */
	--popout-header-shadow: 0px 3px 9px 0px rgba(0,0,0,0.25);

	/* Popout border radius */
	--popout-radius: 8px;

	/* Shadow size and color for popouts */
	--popout-shadow: 0 8px 10px 1px rgba(0,0,0,0.14);


/* No clue what any of this does */
	--interactive-normal: #aaa;
	--interactive-hover: #ddd;
	--interactive-active: #fff;
	--interactive-muted: #777;
	--background-modifier-hover: rgba(255,255,255,0.075);
	--background-modifier-selected: rgba(255,255,255,0.125);
}



/* Menu when right-clicking a popout */
.menu_dc52c6 {
	background-color: #150a0a90
}


/* Badges for numbered notifications */
.numberBadge__50328 {
	background-color: rgba(255,100,65,1) !important;
	color: var(--accent-text-color) !important;
}


/* Secondary button color (for a bunch of buttons) *//*
.lookFilled__19298, .lookOutlined_46d54, .lookLink_93965, .lookInverted_ee4261 {
	--button-background: rgba(255,195,215,1) !important;
}*/


/* Third type of button color (for mutual servers/friends buttons in DMs)
   Overrides some buttons changed by the above secondary color *//*
.collapseBtn_f82249 {
	/*background-color: hsl(var(--accent-hue),var(--accent-saturation),var(--accent-lightness)) !important;*/
	background-color: var(--button-background) !important;
	--button-background: hsla(var(--accent-hsl),var(--accent-opacity));
}*/
